@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Антиконференция AgileCamp 2016</h1>
    <p class="lead">Habitator &mdash; это инструмент, с помощью которого вы сможете создавать и закреплять новые привычки.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Пример кнопки &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Колонка</h2>
        <p>
            Текст колонки текст колонки текст колонки текст колонки текст колонки текст колонки текст колонки текст колонки
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Пример другой кнопки &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Колонка</h2>
        <p>
            Текст колонки текст колонки текст колонки текст колонки текст колонки текст колонки текст колонки текст колонки
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Пример другой кнопки &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Колонка</h2>
        <p>
            Текст колонки текст колонки текст колонки текст колонки текст колонки текст колонки текст колонки текст колонки
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Пример другой кнопки &raquo;</a>
        </p>
    </div>
</div>